*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*PAGINA DE LOGIN*/

.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: lighter;
  }
  
.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  



h1{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

html, body{
    
   height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    
    background-color: #0e1621;

    font-family: Arial, Helvetica, sans-serif;
}


.formulario{
    background-color: #232f3d73;
    margin: auto;
    color: white;
    border-radius: 10px;
    padding: 40px;

    width: 400px;

}



.centralizado{

    text-align: center;

}

footer{

    background-color: #232f3d;
}


input{

    outline: none;
}

p{
    align-items: center;
    text-align: center;
    align-content: center;
}
.header{
    background-color: #232f3d;
    margin-top: 0;
}
